doctype html
html
  head
  body
    h1 Foobar
    div(data-component='Inplace' data-props='{"name":"title"}')
    div(data-component='MyComponent')
    div(data-component='Toolbar')
    script(data-cms)
