extends ../includes/base

block navigation

  header.header
    .container: .row
      .col-sm-4.col-xs-12
        h1.logo Webdesign.io

block content

  section.hero
    .container: .row
      .hero-text.text-center
        h1.mb-0.mt-30(data-component='Inplace' data-props='{"name":"title"}') Your first webdesign.io page!
        a.btn.btn-lg.mt-30(data-component='Inplace' data-props='{"name":"title3"}') Read The Docs
    .mountain-1
    .mountain-2

  section.starter-info.bg-light-blue.pt-80.pt-xs-60.pb-140.pb-sm-100.pb-xs-0
    .container.pb-140
      ul.row.list-inline
        li.col-sm-4.text-center.mb-40
          .icon-large.icon-signs.mb-20
          h4(data-component='Inplace') EDIT TEXT INLINE
          p.
            When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts.
        li.col-sm-4.text-center.mb-40
          .icon-large.icon-expand.mb-20
          h4(data-component='Inplace') RESIZE IMAGES
          p.
            When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts.
        li.col-sm-4.text-center.mb-40
          .icon-large.icon-text.mb-20
          h4(data-component='Inplace') FULL TEXT EDITOR
          p.
            When you enter into any new area of science, you almost always find yourself with a baffling new language of technical terms to learn before you can converse with the experts.

block scripts

  script(src=asset('/js/vendor/jquery.stellar.js'))
  script.
    $(function(){
      $.stellar({ responsive: true });
    });
