extends ../includes/base

block content
  .container
    h1 Foobar
    div(data-component='Inplace' data-props='{"name":"title"}')
      | Here is some default content.
    p
      | Here comes the noLangField.
    div(data-component='Inplace' data-props='{"name":"image"}')
    div(data-component='MyComponent')
